body {
  text-align: center;
}

p {
  width: 75%;
  margin: 80px auto;
  border: 1px solid lightgrey;
  padding: 10px;
  text-align: justify;
}

h1 , p
{
  font-family: cursive;
}
span
{
  font-family: serif;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
}
h1
{
  font-size: 50px;
}
